<section class="content">
    <div class="row">
        <div class="col-md-12">
            <h3>Usuarios</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2 pull-right">
            <input type="text" class="form-control" placeholder="Filtro">
        </div>
    </div>
    <br>
    <section class="panel">
        <header class="panel-heading">Listado
            <button class="btn btn-xs btn-success pull-right" data-toggle="modal" data-target="#myModal">Agregar</button>
        </header>
        <div class="panel-body table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr >
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Usuario</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Departamento</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let usuario of usuarios; let i = index">
                        <td>{{ usuario.name }}</td>
                        <td>{{ usuario.apellido }}</td>
                        <td>{{ usuario.usuario }}</td>
                        <td>{{ usuario.correo }}</td>
                        <td>{{ usuario.rol }}</td>
                        <td>{{ usuario.apellido }}</td>
                        <td>
                            <button class="btn btn-sm btn-warning" (click)="edit()"><i class="fa fa-pencil"></i></button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger" (click)="remove(i)"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </section>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo usuario</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Nombre:</label>
                            <input type="text" class="form-control">
                            <br>
                            <label>Apellido:</label>
                            <input type="text" class="form-control">
                            <br>
                            <label>Usuario</label>
                            <input type="text" class="form-control">
                            <br>
                            <label>Correo:</label>
                            <input type="text" class="form-control">
                            <br>
                            <label>Rol:</label>
                            <select class="form-control">
                                <option></option>
                                <option>Usuario</option>
                                <option>Administrador</option>
                                <option>Jefe</option>
                            </select>
                            <br>
                            <label>Departamento:</label>
                            <select class="form-control">
                                <option></option>
                                <option>Produccion</option></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</section>
