<div class="col-md-4 col-md-offset-4">
    <div class="row loginHeader" align="center">
        <img src="assets/img/argos.jpg">
    </div>
    <div class="row loginBody">
        <label>Usuario</label>
        <input type="text" class="form-control" [(ngModel)]="Username">
        <br>
        <label>Contraseña</label>
        <input type="password" class="form-control" [(ngModel)]="Password">
        <br>
        <div class="row" align="center">
            <button class="btn btn-argos" (click)="login()"><strong>Iniciar sesion</strong></button>
        </div>
    </div>
</div>


