.loginHeader {
	background-color: #b7dd2a;
	padding: 10px 0px;
	margin-top: 40%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.loginBody {
	background-color: #1c284b;
	color: #ffffff;
	padding: 15px 30px 30px 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.btn.btn-argos {
	background-color: #b7dd2a;
	border: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #1c284b;
}